cs
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
  outline: none;
  border: none;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    padding: 20 50px;
    position: relative;
    z-index: 10;
}
.login{
    background-image: url(/hinhanh/background-login.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    /* height: 100vh; */
    
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    
}
.login::before{
    content: '';
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
.Signin{
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 450px;
    height:730px;
    margin-left: 50%;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    box-sizing: border-box;
    transform: translate(-50%);

}
.Signin h2{
    font-size: 32px;
    color: chartreuse;
    margin-top: 0;
    text-align: center;
}
.Signin input{
    height: 50px;
    width: 100%;
    border-radius: 3px;
    color: white;
    background: rgb(156, 180, 180);
    border: 1px solid #333;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
}
.input{
    margin-bottom: 25px;
    font-size: 16px;
}
.Signin button{
    height: 50px;
    width: 100%;
    color: #fff;
    background: rgb(255, 115, 0);
    border-radius: 3px;
    font-weight: 500;
    font-size: 20px;
    border: 1px solid rgb(102, 255, 0);
}
.text_input{
    display:flex;
    color: #fff;
    justify-content: space-between;
    font-size: 12px;
}
.text_input input{
    width: 15px;
    height: 15px;
}
.text_remember{
    display: flex;
    align-self: center;

}
.remember span {
    margin-right: 10px;
    height:25px;
}

.Signin .input_fb{
    background: rgb(71, 129, 236);
    font-family: 'SFProDisplay-Bold';;
    font-size: 25px;
    
}
.Signin .input_gg{
    background: rgb(255, 56, 56);
    font-family: 'SFProDisplay-Bold';;
    font-size: 25px;
}
.text_tk h3{
    font-size: 16px;
    color: rgb(207, 197, 197);
}
.text_tk{
    margin: auto;
    float: left;
    
    
}
.text_tk a{
    text-decoration:none;
}
.text_tk a:hover{
    color: red;
    text-decoration:none;
}
.close{
    color: rgb(165, 165, 165);
    float: right;
    font-size: 50px;
    position: absolute;
    top: 10px;
    left: 10px;

}
.close a{
    color: rgb(198, 204, 204);
}